name: Build and Publish

on:
  push:
    branches: [ 'main' ]
    tags: [ 'v*.*.*' ]
  pull_request:
    branches: [ 'main' ]

jobs:
  call-reusable-workflow:
    permissions:
      contents: read
      packages: write
      id-token: write
    uses: coolcow/workflows/.github/workflows/build-and-publish.yml@v1.1.0
    with:
      image_name: 'rclone'
      build_context: 'build'
      dockerfile_path: 'Dockerfile'
      test_dockerfile_path: 'Dockerfile.test'
    secrets: inherit
